*{
	--color-1: white;
	--color-2: rgb(58, 20, 27);
	--color-3: pink;
	--color-4: initial;
	--gradient-1: initial;
	--gradient-2: initial;
}
body{
	background: url('../img/donate.png') center center / cover repeat;
	background-size: 110%;
}
.less_elem{
	background: rgba(0, 0, 0, .15);
	text-shadow: 0px 0px 10px var(--color-3);
	position: relative;
}
.parag{
	font-size: large;
	font-weight: bolder;
}
.right_now{
	font-weight: bolder;
	color: var(--color-2);
}
.less_elem, .turn, .no_less, .right_now {
	border: 3px solid var(--color-3);
}
.turn{
	background: rgba(255, 244, 85, 0.5);
}
