body{
	padding: 0;
	margin: 0;
}
header{
	background: linear-gradient(45deg, rgb(181, 121, 121), rgb(128, 37, 37));
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: calc(2vh + 2vw);
}